<div class="well">
<b>These questions are sorted by time. Newest First.</b>
</div>

<div class="container">
	<% @questions.each do |q| %>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="../../assets/question.jpeg" alt="">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><%= q.email %> asked:</h4>
	    <%= time_ago_in_words q.created_at %> ago
	    <%= q.body %>
	    <div> <a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a></div>
	  </div>
	</div>
	<% end %>
</div>